{% extends "base.html" %}
{% block body %}
<div class="row p-5 p-4 p-md-5 mb-4">
<div class="card-body">
    <h5>Create Blog</h5>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <a type="button" class="btn btn-danger" href="{%url 'list' %}">Cancel</a>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
</div>
{% endblock body %}