{% extends "base.html" %}
{% block body %}
<div class="card-body">
    <h5>Delete</h5>
    <form method="post">
        {% csrf_token %}
        <p>Delete <strong>{{ post.Name }} </strong> from list? </p>
        <button type="submit" class="btn btn-danger">Delete</button>
        <a type="button" class="btn btn-success" href="{%url 'list' %}">Cancel</a>
    </form>
</div>
{% endblock body %}