{% extends 'base.html' %}

{% block body %}
<div class="row p-5 p-4 p-md-5 mb-4">
    <div class="card">
        <div class="image-cropper" style="text-align: center">
            <img src="{{ post.image.url }}" width="1080" height="500" >
        <div class="card-body">
            <h1 class="card-title">{{ post.title }}</h1>
            <p class="card-title">Published: {{ post.published_date }} by <span class="text-primary">{{ post.author }}</span> </p>
            <p class="card-text">{{ post.text }}</p>
            <img src="{{ post.image2.url }}" class="rounded float-start" width="600" height="500">
            <img src="{{ post.image1.url }}" class="rounded float-end" width="600" height="500" >

        </div>
    </div>
</div>

<div class="card-body">
    <h5>Comment</h5>

  <form method="POST" id="comment">
    {% csrf_token %}
      {{form}}
        <button type="submit" id="btncmt" class="btn btn-success mt-2">Comment</button></form>
</div>
      {% if comments %}

  <hr>
  <ul id="cmt">
    {% for comment in comments %}
    <li>
     <div id="div1">
        <span id="sp">
          <strong class="text-info">{{ comment.author }} </strong>
          <small class="text-muted">{{ comment.date_posted }}</small>
        </span>
        <p>
          {{ comment.content|safe }}
        </p>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
    <strong class="text-secondary">No comments yet...</strong>
  {% endif %}

</div>




<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript">



    $(document).ready(function () {
        $("#comment").submit(function (e) {
            var url = $(this).attr('href');
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: url,
                data: $("#comment").serializeArray(),
                success: function (data) {
                    console.log('SUCCESS');
                    $("#comment")[0].reset();
                     let instance = JSON.parse(data['comments']);
                     console.log(instance);
                        $('#cmt').html('');
                     for(var i = 0; i<instance.length; i++){
                      let new_data = '<div><li><span><strong class="text-info">'+ instance[i].author +'</strong><small class="text-muted">'+ instance[i].date_posted + '</small></span><p>'+ instance[i].content +'</p></li></div>';
                      $('#cmt').append(new_data);

                         }


                        //INSERTING ROWS INTO TABLE





                }
            });
        });
    });


</script>

{% endblock body %}