{% extends 'base.html' %}
{% block title %} Index {% endblock title %}
{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} warning alert-dismissible fade show " role="alert"
     xmlns="http://www.w3.org/1999/html">
  <strong>{{ message }}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

<div class="card-body">
    <h5>Create</h5>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <a type="button" class="btn btn-danger" href="{%url 'list' %}">Cancel</a>
        <button type="submit" class="btn btn-success">Create</button>
    </form>
</div>
{% block content %}
  {% for post in object_list %}
    <div class="post-entry">
      <h2><a href="">{{ post.title }}</a></h2>
      <p>{{ post.body }}</p>
    </div>
  {% endfor %}
{% endblock content %}
{% endblock body %}