{% extends 'base.html' %}

{% block body %}







<main class="container my-3">
  {% for post in object_list %}
    {% if forloop.counter == 1 %}
    <div
  class="bg-image p-5 p-4 p-md-5 mb-4 text-white rounded  height=400px "
  style="background-image: url('{{ post.image.url}}'); height:500px"
>
      <h1 class="display-4 fst-italic">{{ post.title }}</h1>
      <p class="lead my-3">{{ post.text|slice:":200" }}.</p>
        <p>- {{ post.author }}</p>
        <p>{{ post.published_date }}</p>
      <p class="lead mb-0"><a href="{%url 'detail' post.id %}" class="text-white fw-bold">Continue reading...</a></p>
    </div>



{% elif forloop.counter|divisibleby:"2" %}

  <div class="row mb-2" >
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static" style="height:300px">
          <strong class="d-inline-block mb-2 text-primary">Category</strong>
          <h3 class="mb-0">{{ post.title }}</h3>
          <div class="mb-1 text-muted">{{ post.published_date }}</div>
          <p class="card-text mb-auto">{{ post.text|slice:":150" }}.</p>
            <p>- {{ post.author }}</p>
          <a href="{%url 'detail' post.id %}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="{{ post.image.url}}" alt="connect" width="200" height="250" >


        </div>
      </div>
    </div>

    <div class="col-md-6">
        {% else %}

      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

        <div class="col p-4 d-flex flex-column position-static" style="height:300px">
          <strong class="d-inline-block mb-2 text-success">Category</strong>
          <h3 class="mb-0">{{ post.title }}</h3>
          <div class="mb-1 text-muted">{{ post.published_date }}</div>
          <p class="mb-auto">{{ post.text|slice:":150" }}.</p>
            <p>- {{ post.author }}</p>
          <a href="{%url 'detail' post.id %}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="{{ post.image.url}}" alt="connect" width="200" height="250" >

        </div>
      </div>
    </div>
  </div>

    </div>
  </div>
    {% endif %}

{% endfor %}
</main>

{% endblock body %}