{% extends "base.html" %}
{% block body %}
<div class="card-body">
    <h5>Update</h5>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <a type="button" class="btn btn-danger" href="{%url 'list' %}">Cancel</a>
        <button type="submit" class="btn btn-success">Update</button>
    </form>
</div>
{% endblock body %}